pycache/
*.pyo
*.pyc
*.pyi
.idea
.vscode
.pytest_cache
.DS_Store
local.py
.coverage
htmlcov
kubefwd
docker-compose.override.yml
.venv/
.env
.eggs/
.tox/
.nox/
.mypy_cache
*.egg-info
build/
dist/
*.sentinel

*_pb2.py
*_grpc.py